<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liaoxin.mapper.UmsRoleMapper">
    <select id="selectRoleListWithUser" parameterType="Long" resultType="com.liaoxin.domain.UmsRole">
        SELECT
            a.id as id,
            a.role_name as role_name,
            a.create_time as create_time,
            a.update_time as update_time,
            a.status as status,
            a.version as version
        FROM ums_role a, ums_user_role b
        WHERE a.id = b.role_id
          AND b.user_id = #{id}
          AND a.status = '1'
          AND b.status = '1'
    </select>
</mapper>